<%- include('../partials/header',{
    title:'Add Post',
    discription:'Create a new post here',
    img:'home-bg.jpg',
    style:'site-heading',
    disStyle:'subheading',
}) %>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    
      <div class="col-md-10 col-lg-8 col-xl-7">
        
        <form action="/posts" method="post">
          <div class="form-group my-3">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your title here">
          </div>
          
          <div class="form-group my-3">
            <label for="exampleFormControlTextarea1">Discription</label>
            <textarea class="form-control" name="discription" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="form-group my-3">
            <label for="exampleFormControlInput1">Author</label>
            <input type="text" name="author" class="form-control" id="exampleFormControlInput1">
          </div>

          <div class="form-group my-3">
            <label for="exampleFormControlInput1">Image</label>
            <input type="file" name="image" class="form-control" id="exampleFormControlInput1">
          </div>

          <button type="submit" class="btn btn-primary mt-4">Submit</button>

        </form>
        </div>
    </div>
</div>




<%-contentFor ('title') %>
Add Post